@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Source+Sans+3:wght@300;400;500;600&display=swap');

:root {
  --white: #ffffff;
  --green: #27694d;
  --yellow: #daa520;
  --red: #ef4444;
  --brown: #383129;
  --black: #2a2622;

  --title: #2b2622;
  --text: #7c736a;
  --border: #e7e2da;

  --background: #f7f4ef;
  --card: #fcfaf7;
  --secondary: #eeebe4;
  --shadow: #c4b8a8;
  --favorite: #eaf0ed;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text);
}

#root {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

h1,
h2 {
  color: var(--title);
  font-family:
    Playfair Display,
    serif;
}

/* HEADER */

.header {
  display: flex;
  padding: 1rem 5rem;
  justify-content: start;
  align-items: center;
  border-bottom: var(--border) 1px solid;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
  gap: 1rem;
}

.header-logo {
  height: 2.75rem;
  background-color: var(--green);
  padding: 0.5rem;
  border-radius: 0.75rem;
}

/* MAIN */

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 3rem;
  padding: 2rem 10rem;
}

.main-top-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.main-text-container {
  width: 29rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.main-description {
  text-align: center;
}

.main-search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.main-bottom-container {
  display: flex;
  gap: 1rem;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.books-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 10rem); /* 200px = card width */
  gap: 1rem; /* space between cards */
  justify-content: start; /* align left if container smaller than wrapper */
  width: fit-content; /* container shrinks to fit full columns */
  max-width: 100%;
  border: 1px solid grey;
}

.favorites-container {
  height: 100%;
  min-width: 12rem;
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border: 1px solid grey;
}

.book-card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 10rem;
  height: 16rem;
  background-color: var(--card);
  border-radius: 0.75rem;
  box-shadow:
    var(--shadow) 0px 4px 6px -1px,
    var(--shadow) 0px 2px 4px -1px;
}

.book-title {
  color: var(--title);
  font-size: 1rem;
  font-weight: 700;
}

/* FOOTER */

.footer {
  display: flex;
  padding: 1.75rem 10rem;
  justify-content: center;
  align-items: center;
  border-top: var(--border) 1px solid;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.footer-link {
  color: var(--green);
  text-decoration: none;
}
